{# filepath: /home/sab/dev/symfony/asso_LUS/templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Bienvenue sur Asso LUS</h1>
    <p>Inscrivez-vous ici.</p>
    <!-- Ajoutez votre formulaire d'inscription ici -->
{% endblock %}
